<div class="grid">
  <div class="col-12 lg:col-8 lg:col-offset-0">
    <p-card *ngIf="!loading" [formGroup]="form"
            [header]="!form?.get('id')?.value ? 'Νέος φοιτητής' : 'Επεξεργασία φοιτητή'">

      <div class="card">
        <h3>Προσωπικά Στοιχεία</h3>

        <div class="formgroup-inline">
          <div class="field">
            <span class="p-float-label">
              <input id="surname" type="text" pInputText formControlName="surname" placeholder="Επώνυμο">
              <label for="surname" class="required"></label>
            </span>
          </div>

          <div class="field">
            <span class="p-float-label">
              <input id="name" type="text" pInputText formControlName="name" placeholder="Όνομα">
              <label for="name" class="required"></label>
            </span>
          </div>
        </div>

        <div class="formgroup-inline">
          <div class="field">
            <span class="p-float-label">
              <input id="fatherName" type="text" pInputText formControlName="fatherName" placeholder="Πατρώνυμο">
              <label for="fatherName" class="required"></label>
            </span>
          </div>

          <div class="field">
            <span class="p-float-label">
              <input id="motherName" type="text" pInputText formControlName="motherName" placeholder="Μητρώνυμο">
              <label for="motherName" class="required"></label>
            </span>
          </div>
        </div>

        <div class="formgroup-inline">
          <div class="field">
            <p-calendar formControlName="birthDate"
                        placeholder="Ημερομηνία Γέννησης"
                        dateFormat="dd/mm/yy"
                        [showIcon]="true"
                        dataType="string"
                        class="required"
                        inputId="birthDate">
            </p-calendar>
          </div>

          <div class="field">
            <p-dropdown [options]="studentGenders"
                        [formControl]="gender"
                        placeholder="Φύλο"
                        optionValue="key"
                        optionLabel="value">
            </p-dropdown>
          </div>

        </div>

      </div>

      <div class="card">
        <h3>Στοιχεία φοίτησης</h3>

        <div class="formgrid grid">

          <div class="field col-5">
            <input id="disabled-input"
                   class="w-full"
                   type="text"
                   [readOnly]="true"
                   pInputText [disabled]="isDisabled"
                   [formControl]="department"/>
          </div>

          <div class="field col-7">
            <p-dropdown [options]="studentDirections"
                        [formControl]="direction"
                        placeholder="Επιλογή κατεύθυνσης"
                        optionLabel="name">
            </p-dropdown>
          </div>
        </div>

      </div>

      <div class="card">
        <h3>Στοιχεία επικοινωνίας</h3>

        <div class="formgroup-inline">

          <div class="field">
              <span class="p-float-label">
                <input id="address" type="text" pInputText [formControl]="address">
                <label for="address">Διεύθυνση</label>
              </span>
          </div>

          <div class="field">
              <span class="p-float-label">
                <input id="city" type="text" pInputText [formControl]="city">
                <label for="city">Πόλη</label>
              </span>
          </div>

          <div class="field">
              <span class="p-float-label">
                <input id="postalCode" type="text" pInputText [formControl]="postalCode">
                <label for="postalCode">Ταχυδρομικός κώδικας</label>
              </span>
          </div>

        </div>

        <div class="formgroup-inline">

          <div class="field">
            <p-inputNumber [formControl]="mobileNumber"
                           placeholder="Τηλέφωνο επικοινωνίας"
                           mode="decimal"
                           [maxlength]="10"
                           [useGrouping]="false"
                           inputId="mobileNumber">
            </p-inputNumber>
          </div>

          <div class="field">
            <p-inputNumber [formControl]="vatNumber"
                           placeholder="Α.Φ.Μ"
                           mode="decimal"
                           [maxlength]="10"
                           [useGrouping]="false"
                           inputId="vatNumber">
            </p-inputNumber>
          </div>

        </div>

      </div>

      <ng-template pTemplate="footer">
        <p-button (onClick)="onSubmit()" [disabled]="form.invalid || form.untouched"
                  [icon]="!saving ? 'pi pi-check' : 'pi pi-spin pi-spinner'"
                  label="Αποθήκευση">
        </p-button>
        <p-button (onClick)="onClear()" [disabled]="form.untouched" [style]="{'margin-left': '.5em'}"
                  [icon]="!form?.get('id')?.value ?  'pi pi-trash' : 'pi pi-refresh'"
                  [label]="!form?.get('id')?.value ? 'Καθαρισμός': 'Επαναφορά'"
                  styleClass="p-button-secondary">
        </p-button>
      </ng-template>

    </p-card>

  </div>

  <p-dialog [(visible)]="successModal" [draggable]="false" [modal]="true" [resizable]="false"
            [style]="{width: '20vw'}" header="Επιτυχία">
    <p class="m-0">Η καταχώριση ολοκληρώθηκε με επιτυχία.</p>
    <ng-template class="p-0" pTemplate="footer">
      <p-button (click)="successModal=false" icon="pi pi-check" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="errorModal" [draggable]="false" [modal]="true" [resizable]="false"
            [style]="{width: '25vw'}" header="Αποτυχία">
    <p class="m-0">Παρουσιάστηκε πρόβλημα στη καταχώριση. Παρακαλώ επικοινωνήστε με τους διαχειριστές του
      συστήματος.</p>
    <ng-template class="p-0" pTemplate="footer">
      <p-button (click)="errorModal=false" icon="pi pi-check" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>

  <ng-container *ngIf="showDebug">
    <pre>{{form.value | json}}</pre>
  </ng-container>

</div>

<ng-template #loadingList>
  <div class="col-8">
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
  </div>
</ng-template>
