<div class="creditor">
  <p-toast></p-toast>
  <p-panel header="{{'Πίνακας φοιτητών'}}" [toggleable]="true">
    <p-table #dt1 [loading]="isLoading" [showLoader]="false"
             responsiveLayout="scroll"
             [value]="students" [rows]="10" [paginator]="true"
             [globalFilterFields]="['surname', 'name', 'email', 'dateCreated', 'direction.name', 'isVerified']"
             [rowHover]="true" dataKey="id"
             currentPageReportTemplate="{{'Εμφάνιση'}} {first} {{'έως'}} {last} {{'από'}} {totalRecords} {{'φοιτητές'}}"
             [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="display: none;">id</th>
          <th pSortableColumn="surname">{{'Επώνυμο'}}
            <p-sortIcon field="surname"></p-sortIcon>
          </th>
          <th pSortableColumn="name">{{'Όνομα'}}
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="email">{{'email'}}
            <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th pSortableColumn="dateCreated">{{'Ημ/νια Εγγραφής'}}
            <p-sortIcon field="dateCreated"></p-sortIcon>
          </th>
          <th pSortableColumn="direction">{{'Τμήμα'}}
            <p-sortIcon field="direction"></p-sortIcon>
          </th>
          <th pSortableColumn="isVerified">{{'Ενεργός'}}
            <p-sortIcon field="isVerified"></p-sortIcon>
          </th>
          <th></th>
        </tr>
        <tr>
          <th>
            <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'surname', 'contains')"
                   [value]="$any(dt1.filters['surname'])?.value" placeholder="Αναζήτηση με Επώνυμο"
                   class="p-column-filter">
          </th>
          <th>
            <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'name', 'contains')"
                   [value]="$any(dt1.filters['name'])?.value" placeholder="Αναζήτηση με όνομα" class="p-column-filter">
          </th>
          <th>
            <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'email', 'contains')"
                   [value]="$any(dt1.filters['email'])?.value" placeholder="Αναζήτηση με email" class="p-column-filter">
          </th>
          <th>
            <p-calendar [disabled]="true"
                        (onInput)="dt1.filter($any($event.target)?.value, 'dateCreated', 'equals')"
                        [ngModel]="$any(dt1.filters['dateCreated'])?.value"
                        placeholder="Αναζήτηση με ημερομηνία">
            </p-calendar>
          </th>
          <th>
            <p-columnFilter field="direction" matchMode="in" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" appendTo="body" [options]="direction"
                               placeholder="Αναζήτηση με Τμήμα" (onChange)="filter($event.value)" optionLabel="name">
                  <ng-template let-option pTemplate="item">
                    <div class="p-multiselect-representative-option">
                      <span class="ml-1">{{option.name}}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="boolean" field="isVerified">
            </p-columnFilter>
          </th>
          <th></th>
      </ng-template>
      <ng-template pTemplate="body" let-student let-columns="columns">
        <tr>
          <td style="display: none;">{{student.id}}</td>
          <td>{{student.surname !== null ? student.surname : '-'}}</td>
          <td>{{student.name !== null ? student.name : '-'}}</td>
          <td>{{student.email !== null ? student.email : '-'}}</td>
          <td>{{student.dateCreated | date: 'dd/MM/yyyy'}}</td>
          <td>{{student.direction.name !== null ? student.direction.name : '-'}}</td>
          <td>
            <span *ngIf="student.isVerified"><i class="pi true-icon pi-check-circle"
                                                style="font-size: 1.5rem"></i></span>
            <span *ngIf="!student.isVerified"><i class="pi false-icon pi-times-circle"
                                                 style="font-size: 1.5rem"></i></span>
          </td>
          <td>
            <button pButton pRipple icon="pi pi-pencil"
                    class="p-button-rounded p-button-warning p-button-outlined mr-2"
                    (click)="editCreditor(student)">
            </button>
            <!--            <button pButton pRipple icon="pi pi-trash"-->
            <!--                    class="p-button-rounded p-button-danger p-button-outlined"-->
            <!--                    (click)="deleteCreditor(student)">-->
            <!--            </button>-->
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>

</div>

<p-dialog [(visible)]="newStudentDialog" [style]="{width: '450px'}"
          [modal]="true" styleClass="p-fluid"
          (onHide)="hideStudentDialog()">
  <ng-template pTemplate="header">
    <span *ngIf="editable && !deleteStudent">{{'Επεξεργασία φοιτητή'}}</span>
    <span *ngIf="deleteStudent">{{'CREDITORS.DELETE_CREDITOR'}}</span>
  </ng-template>

  <p-messages [(value)]="formErrors" [enableService]="false"></p-messages>
  <form [formGroup]="studentForm">
    <!--    <label *ngIf="!deleteCr">{{'Ενεργός'}}</label>-->
    <!--    <input *ngIf="!deleteCr" type="text" pInputText id="name" class="p-inputtext-md p-inputtext" formControlName="name">-->
    <!--    <div *ngIf="name.invalid && (name.dirty || name.touched)">-->
    <!--      <small *ngIf="name.errors?.['required']" class="text-danger">{{"THIS_FIELD_IS_REQUIRED"}}.</small>-->
    <!--    </div>-->
    <div *ngIf="editable && !deleteStudent" class="mt-3 mb-3 form-group editableContainer">
      <p-toggleButton onIcon="pi pi-check"
                      offIcon="pi pi-times" formControlName="isVerified">
      </p-toggleButton>
      <label>{{'Ενεργός'}}</label>
    </div>
    <p *ngIf="deleteStudent">{{{name: name.value} }}</p>
    <div class="p-dialog-footer">
      <button pButton pRipple label="{{'Ακύρωση'}}" icon="pi pi-times" class="p-button-text"
              (click)="hideStudentDialog()"></button>
      <button *ngIf="editable && !deleteStudent" pButton pRipple label="{{'Ενημέρωση'}}" icon="pi pi-pencil"
              class="p-button-text" (click)="updateStudent()"></button>
      <!--      <button *ngIf="deleteStudent" pButton pRipple label="{{'Διαγραφή'}}" icon="pi pi-trash"-->
      <!--              class="p-button-text p-button-danger" (click)="removeCreditor()"></button>-->
    </div>
  </form>
</p-dialog>
