$blue: #067EF3;
$lightblue: #BFDAFA;
$darkblue: #0158ad;
$black: hsl(0, 0%, 0%);
$grey: #495057;
$green: #00c16e;
$lightgreen: #66D9A8;
$darkgreen: #037f4a;

:host ::ng-deep {
  .creditor {
    // margin-top: 2em;

    button.addNew {
      background-color: white;
      color: $green;
      border-color: $green;
      padding: 0.3rem 1rem;
      font-size: 14px;
      line-height: 1.5;
      border-radius: 0.25rem;
      margin-bottom: 1em;

      .p-button-icon {
        transition: padding 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        position: relative;
        display: inline-block;
        padding-left: 0px;
      }

      &:hover {
        background-color: white;
        border-color: $green;
        color: $green;

        .p-button-icon {
          padding-right: 8px;
        }
      }

      &:active {
        background-color: $blue;
        border-color: $blue;
      }

    }

    .p-datatable {
      table {
        width: 50%;
        min-width: 100%;
      }

      .p-sortable-column:not(.p-highlight):hover {
        background: #bfdafa61 !important;
        color: $blue;
      }

      th {
        background-color: #bfdafa61;
        color: $grey;
        font-size: 15px;;

        i {
          color: $grey !important;
        }
      }

      tr:hover {
        background: #e9ecef42 !important;
        color: #495057;
        cursor: pointer;
      }

      td {
        font-size: 14px;
      }

      .p-checkbox .p-checkbox-box {
        border: 1px solid $blue;
      }

      .p-paginator {
        justify-content: start;
        // width: 70%;
        span {
          font-size: 14px;
        }

        .p-paginator-pages .p-paginator-page {
          min-width: 1.8em;
          height: 1.8em;
          font-size: 14px;
        }
      }

      .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        background: $lightblue;
        border-color: $lightblue;
        color: #495057;
      }
    }
  }

  .p-dialog {
    &-header {
      background-color: $darkblue;
      padding: 0.5em 0.8em;
      color: white;
      border-bottom: 1px solid $blue;

      .p-dialog-title {
        font-size: 1em;
        font-family: 'ManropeBold',
        'arial',
        sans-serif;
      }

      .p-dialog-header-icon {
        color: white;
      }
    }

    &-content {
      padding: 1em 1.5rem 2rem 1.5rem;

      .p-message-wrapper {
        span {
          font-size: 14px;
        }
      }

      form {
        label {
          font-size: 14px;
          margin: 0.8em 0 0.3em 0;
        }

        .p-inputtext {
          font-size: 14px;
          width: 50%;
          padding: 0.4em;
        }

        small {
          font-size: 13px;
        }

        .editableContainer {
          label {
            font-family: 'ManropeBold',
            'arial',
            sans-serif;
            margin-left: 1em;
            display: inline-block;
          }

          p-togglebutton {
            display: inline-block;
          }

          .p-button {
            width: 1.7rem;
            height: 1.7rem;

            &:not(.p-highlight) {
              border-color: red;
              background: white;

              span::before {
                color: red;
              }
            }

            &.p-highlight {
              background: white;
              border-color: $darkgreen;

              span::before {
                color: $darkgreen;
              }
            }
          }
        }
      }
    }

    &-footer {
      padding: 1em 0 0;
      text-align: center;

      .p-button {
        color: $green;
        border: 1px solid;
        font-size: 14px;

        &-danger {
          color: #D32F2F;

          &.p-button-text:enabled:hover {
            border-color: #D32F2F;
          }
        }

        span {
          font-size: 14px;
        }

        &:hover {
          border-color: $darkgreen;
          color: $darkgreen;
        }
      }
    }
  }
}
