<p-dialog [(visible)]="newPasswordDialog" [style]="{width: '450px'}"
          [modal]="true" styleClass="p-fluid"
          (onHide)="hideStudentDialog()">
  <ng-template pTemplate="header">
    <span>{{'Αλλαγή κωδικού'}}</span>
  </ng-template>

  <p-messages [(value)]="formErrors" [enableService]="false"></p-messages>
  <form [formGroup]="passwordForm">
    <div class="card">
      <label>{{'Νέος κωδικός'}}</label>
      <p-password [feedback]="false" formControlName="password"></p-password>
    </div>
    <div class="p-dialog-footer">
      <button pButton pRipple label="{{'Ακύρωση'}}" icon="pi pi-times" class="p-button-text"
              (click)="hideStudentDialog()"></button>
      <button pButton pRipple label="{{'Ενημέρωση'}}" icon="pi pi-pencil"
              class="p-button-text" (click)="updatePassword()"></button>
    </div>
  </form>
</p-dialog>
